body {
  margin:0px;
  background-image:none;
  position:relative;
  left:0px;
  width:2550px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u18115_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2550px;
  height:1243px;
}
#u18115 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2550px;
  height:1243px;
  display:flex;
}
#u18115 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u18115_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u18116_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:688px;
  height:51px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u18116 {
  border-width:0px;
  position:absolute;
  left:991px;
  top:1134px;
  width:688px;
  height:51px;
  display:flex;
}
#u18116 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u18116_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u18117_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:619px;
  height:60px;
}
#u18117 {
  border-width:0px;
  position:absolute;
  left:1053px;
  top:1125px;
  width:619px;
  height:60px;
  display:flex;
}
#u18117 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u18117_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u18118_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:43px;
}
#u18118 {
  border-width:0px;
  position:absolute;
  left:1002px;
  top:1138px;
  width:43px;
  height:43px;
  display:flex;
}
#u18118 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u18118_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u18119_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:19px;
}
#u18119 {
  border-width:0px;
  position:absolute;
  left:1014px;
  top:1150px;
  width:19px;
  height:19px;
  display:flex;
  color:#7560FF;
}
#u18119 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u18119_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u18120_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:367px;
  height:55px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u18120 {
  border-width:0px;
  position:absolute;
  left:1312px;
  top:1134px;
  width:367px;
  height:55px;
  display:flex;
}
#u18120 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u18120_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u18121_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  height:51px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u18121 {
  border-width:0px;
  position:absolute;
  left:1308px;
  top:1134px;
  width:148px;
  height:51px;
  display:flex;
}
#u18121 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u18121_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u18122 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u18123_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:166px;
  height:43px;
  background:inherit;
  background-color:rgba(249, 250, 251, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(219, 219, 219, 1);
  border-radius:87px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#7560FF;
  text-align:left;
}
#u18123 {
  border-width:0px;
  position:absolute;
  left:1319px;
  top:1138px;
  width:166px;
  height:43px;
  display:flex;
  font-size:18px;
  color:#7560FF;
  text-align:left;
}
#u18123 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u18123_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u18124_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u18124 {
  border-width:0px;
  position:absolute;
  left:1452px;
  top:1154px;
  width:10px;
  height:10px;
  display:flex;
}
#u18124 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u18124_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u18125_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:17px;
}
#u18125 {
  border-width:0px;
  position:absolute;
  left:1340px;
  top:1151px;
  width:17px;
  height:17px;
  display:flex;
}
#u18125 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u18125_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u18126 {
  border-width:0px;
  position:absolute;
  left:2178px;
  top:1125px;
  width:87px;
  height:73px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u18127_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u18127 {
  border-width:0px;
  position:absolute;
  left:991px;
  top:1044px;
  width:300px;
  height:50px;
  display:flex;
}
#u18127 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u18127_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u18128_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:927px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#4B4B4B;
}
#u18128 {
  border-width:0px;
  position:absolute;
  left:1007px;
  top:1057px;
  width:927px;
  height:21px;
  display:flex;
  font-size:18px;
  color:#4B4B4B;
}
#u18128 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u18128_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
