body {
  margin:0px;
  background-image:none;
  position:relative;
  left:0px;
  width:2550px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u7952_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2550px;
  height:1243px;
}
#u7952 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2550px;
  height:1243px;
  display:flex;
}
#u7952 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7952_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7953_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:688px;
  height:51px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7953 {
  border-width:0px;
  position:absolute;
  left:991px;
  top:1134px;
  width:688px;
  height:51px;
  display:flex;
}
#u7953 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7953_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7954_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:619px;
  height:60px;
}
#u7954 {
  border-width:0px;
  position:absolute;
  left:1053px;
  top:1125px;
  width:619px;
  height:60px;
  display:flex;
}
#u7954 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7954_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7955_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:43px;
}
#u7955 {
  border-width:0px;
  position:absolute;
  left:1002px;
  top:1138px;
  width:43px;
  height:43px;
  display:flex;
}
#u7955 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7955_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7956_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:19px;
}
#u7956 {
  border-width:0px;
  position:absolute;
  left:1014px;
  top:1150px;
  width:19px;
  height:19px;
  display:flex;
  color:#7560FF;
}
#u7956 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7956_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7957_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:367px;
  height:55px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7957 {
  border-width:0px;
  position:absolute;
  left:1312px;
  top:1134px;
  width:367px;
  height:55px;
  display:flex;
}
#u7957 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7957_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7958_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  height:51px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7958 {
  border-width:0px;
  position:absolute;
  left:1308px;
  top:1134px;
  width:148px;
  height:51px;
  display:flex;
}
#u7958 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7958_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7959 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7960_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:166px;
  height:43px;
  background:inherit;
  background-color:rgba(249, 250, 251, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(219, 219, 219, 1);
  border-radius:87px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#7560FF;
  text-align:left;
}
#u7960 {
  border-width:0px;
  position:absolute;
  left:1319px;
  top:1138px;
  width:166px;
  height:43px;
  display:flex;
  font-size:18px;
  color:#7560FF;
  text-align:left;
}
#u7960 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7960_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u7961_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u7961 {
  border-width:0px;
  position:absolute;
  left:1452px;
  top:1154px;
  width:10px;
  height:10px;
  display:flex;
}
#u7961 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7961_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7962_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:17px;
}
#u7962 {
  border-width:0px;
  position:absolute;
  left:1340px;
  top:1151px;
  width:17px;
  height:17px;
  display:flex;
}
#u7962 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7962_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7963 {
  border-width:0px;
  position:absolute;
  left:2178px;
  top:1125px;
  width:87px;
  height:73px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u7964_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7964 {
  border-width:0px;
  position:absolute;
  left:991px;
  top:1044px;
  width:300px;
  height:50px;
  display:flex;
}
#u7964 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7964_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7965_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:927px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#4B4B4B;
}
#u7965 {
  border-width:0px;
  position:absolute;
  left:1007px;
  top:1057px;
  width:927px;
  height:21px;
  display:flex;
  font-size:18px;
  color:#4B4B4B;
}
#u7965 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u7965_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u7966_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  height:56px;
  background:inherit;
  background-color:rgba(113, 136, 244, 0.996078431372549);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7966 {
  border-width:0px;
  position:absolute;
  left:81px;
  top:13px;
  width:168px;
  height:56px;
  display:flex;
}
#u7966 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7966_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7967 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7968 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7969_img {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:-10px;
  width:131px;
  height:131px;
}
#u7969 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:1087px;
  width:111px;
  height:111px;
  display:flex;
}
#u7969 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7969_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7970_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:17px;
  letter-spacing:1.9px;
  color:#497ECE;
  line-height:25px;
}
#u7970 {
  border-width:0px;
  position:absolute;
  left:68px;
  top:1118px;
  width:76px;
  height:50px;
  display:flex;
  font-size:17px;
  letter-spacing:1.9px;
  color:#497ECE;
  line-height:25px;
}
#u7970 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u7970_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u7971_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:17px;
}
#u7971 {
  border-width:0px;
  position:absolute;
  left:94px;
  top:1118px;
  width:23px;
  height:17px;
  display:flex;
}
#u7971 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7971_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7972 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:1087px;
  width:111px;
  height:112px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
