body {
  margin:0px;
  background-image:none;
  position:relative;
  left:0px;
  width:5286px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u16946_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2550px;
  height:1243px;
}
#u16946 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:1317px;
  width:2550px;
  height:1243px;
  display:flex;
}
#u16946 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u16946_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u16947_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2550px;
  height:1243px;
}
#u16947 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:2607px;
  width:2550px;
  height:1243px;
  display:flex;
}
#u16947 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u16947_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u16948_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2550px;
  height:1243px;
}
#u16948 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:3904px;
  width:2550px;
  height:1243px;
  display:flex;
}
#u16948 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u16948_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u16949_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2550px;
  height:1243px;
}
#u16949 {
  border-width:0px;
  position:absolute;
  left:2736px;
  top:1317px;
  width:2550px;
  height:1243px;
  display:flex;
}
#u16949 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u16949_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u16950_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2550px;
  height:1243px;
}
#u16950 {
  border-width:0px;
  position:absolute;
  left:2736px;
  top:2607px;
  width:2550px;
  height:1243px;
  display:flex;
}
#u16950 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u16950_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u16951_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2550px;
  height:1243px;
}
#u16951 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2550px;
  height:1243px;
  display:flex;
}
#u16951 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u16951_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u16952_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:470px;
  height:447px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:9px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u16952 {
  border-width:0px;
  position:absolute;
  left:2051px;
  top:763px;
  width:470px;
  height:447px;
  display:flex;
}
#u16952 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u16952_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u16953 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u16954_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:39px;
}
#u16954 {
  border-width:0px;
  position:absolute;
  left:2366px;
  top:819px;
  width:39px;
  height:39px;
  display:flex;
}
#u16954 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u16954_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u16955_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u16955 {
  border-width:0px;
  position:absolute;
  left:2263px;
  top:1056px;
  width:31px;
  height:14px;
  display:flex;
}
#u16955 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u16955_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u16956_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u16956 {
  border-width:0px;
  position:absolute;
  left:2124px;
  top:1027px;
  width:31px;
  height:14px;
  display:flex;
}
#u16956 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u16956_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u16957_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u16957 {
  border-width:0px;
  position:absolute;
  left:2100px;
  top:889px;
  width:31px;
  height:14px;
  display:flex;
}
#u16957 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u16957_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u16958_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:39px;
}
#u16958 {
  border-width:0px;
  position:absolute;
  left:2221px;
  top:904px;
  width:39px;
  height:39px;
  display:flex;
}
#u16958 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u16958_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u16959_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:39px;
}
#u16959 {
  border-width:0px;
  position:absolute;
  left:2399px;
  top:960px;
  width:39px;
  height:39px;
  display:flex;
}
#u16959 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u16959_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u16960_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u16960 {
  border-width:0px;
  position:absolute;
  left:2404px;
  top:1005px;
  width:31px;
  height:14px;
  display:flex;
}
#u16960 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u16960_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u16961_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:39px;
}
#u16961 {
  border-width:0px;
  position:absolute;
  left:2335px;
  top:1100px;
  width:39px;
  height:39px;
  display:flex;
}
#u16961 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u16961_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u16962_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u16962 {
  border-width:0px;
  position:absolute;
  left:2339px;
  top:1145px;
  width:31px;
  height:14px;
  display:flex;
}
#u16962 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u16962_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u16963_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:39px;
}
#u16963 {
  border-width:0px;
  position:absolute;
  left:2438px;
  top:1100px;
  width:39px;
  height:39px;
  display:flex;
}
#u16963 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u16963_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u16964_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u16964 {
  border-width:0px;
  position:absolute;
  left:2442px;
  top:1145px;
  width:31px;
  height:14px;
  display:flex;
}
#u16964 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u16964_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u16965_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:39px;
}
#u16965 {
  border-width:0px;
  position:absolute;
  left:2259px;
  top:1007px;
  width:39px;
  height:39px;
  display:flex;
}
#u16965 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u16965_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u16966_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:39px;
}
#u16966 {
  border-width:0px;
  position:absolute;
  left:2120px;
  top:979px;
  width:39px;
  height:39px;
  display:flex;
}
#u16966 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u16966_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u16967_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:39px;
}
#u16967 {
  border-width:0px;
  position:absolute;
  left:2096px;
  top:838px;
  width:39px;
  height:39px;
  display:flex;
}
#u16967 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u16967_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u16968_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-9px;
  width:111px;
  height:19px;
}
#u16968p000 {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
  width:108px;
  height:6px;
  -webkit-transform:rotate(0.308338883597116deg);
  -moz-transform:rotate(0.308338883597116deg);
  -ms-transform:rotate(0.308338883597116deg);
  transform:rotate(0.308338883597116deg);
}
#u16968p000_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:6px;
}
#u16968p001 {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:4px;
  height:4px;
  -webkit-transform:rotate(154.308338883597deg);
  -moz-transform:rotate(154.308338883597deg);
  -ms-transform:rotate(154.308338883597deg);
  transform:rotate(154.308338883597deg);
}
#u16968p001_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:4px;
  height:4px;
}
#u16968p002 {
  border-width:0px;
  position:absolute;
  left:86px;
  top:-10px;
  width:24px;
  height:22px;
  -webkit-transform:rotate(180.308338883597deg);
  -moz-transform:rotate(180.308338883597deg);
  -ms-transform:rotate(180.308338883597deg);
  transform:rotate(180.308338883597deg);
}
#u16968p002_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:22px;
}
#u16968 {
  border-width:0px;
  position:absolute;
  left:2127px;
  top:891px;
  width:102px;
  height:1px;
  display:flex;
  -webkit-transform:rotate(-154.308338883597deg);
  -moz-transform:rotate(-154.308338883597deg);
  -ms-transform:rotate(-154.308338883597deg);
  transform:rotate(-154.308338883597deg);
}
#u16968 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u16968_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u16969_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-9px;
  width:136px;
  height:19px;
}
#u16969p000 {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-3px;
  width:132px;
  height:6px;
  -webkit-transform:rotate(0.301042333627485deg);
  -moz-transform:rotate(0.301042333627485deg);
  -ms-transform:rotate(0.301042333627485deg);
  transform:rotate(0.301042333627485deg);
}
#u16969p000_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  height:6px;
}
#u16969p001 {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:4px;
  height:4px;
  -webkit-transform:rotate(31.3010423336275deg);
  -moz-transform:rotate(31.3010423336275deg);
  -ms-transform:rotate(31.3010423336275deg);
  transform:rotate(31.3010423336275deg);
}
#u16969p001_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:4px;
  height:4px;
}
#u16969p002 {
  border-width:0px;
  position:absolute;
  left:111px;
  top:-10px;
  width:22px;
  height:22px;
  -webkit-transform:rotate(180.301042333627deg);
  -moz-transform:rotate(180.301042333627deg);
  -ms-transform:rotate(180.301042333627deg);
  transform:rotate(180.301042333627deg);
}
#u16969p002_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u16969 {
  border-width:0px;
  position:absolute;
  left:2249px;
  top:879px;
  width:127px;
  height:1px;
  display:flex;
  -webkit-transform:rotate(-31.3010423336275deg);
  -moz-transform:rotate(-31.3010423336275deg);
  -ms-transform:rotate(-31.3010423336275deg);
  transform:rotate(-31.3010423336275deg);
}
#u16969 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u16969_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u16970_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:12px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#818181;
}
#u16970 {
  border-width:0px;
  position:absolute;
  left:2285px;
  top:874px;
  width:20px;
  height:12px;
  display:flex;
  -webkit-transform:rotate(330deg);
  -moz-transform:rotate(330deg);
  -ms-transform:rotate(330deg);
  transform:rotate(330deg);
  font-size:12px;
  color:#818181;
}
#u16970 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u16970_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u16971_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-9px;
  width:187px;
  height:19px;
}
#u16971p000 {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-3px;
  width:182px;
  height:6px;
  -webkit-transform:rotate(-0.0878063198209702deg);
  -moz-transform:rotate(-0.0878063198209702deg);
  -ms-transform:rotate(-0.0878063198209702deg);
  transform:rotate(-0.0878063198209702deg);
}
#u16971p000_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:182px;
  height:6px;
}
#u16971p001 {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-1px;
  width:4px;
  height:4px;
  -webkit-transform:rotate(60.912193680179deg);
  -moz-transform:rotate(60.912193680179deg);
  -ms-transform:rotate(60.912193680179deg);
  transform:rotate(60.912193680179deg);
}
#u16971p001_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:4px;
  height:4px;
}
#u16971p002 {
  border-width:0px;
  position:absolute;
  left:164px;
  top:-10px;
  width:22px;
  height:22px;
  -webkit-transform:rotate(179.912193680179deg);
  -moz-transform:rotate(179.912193680179deg);
  -ms-transform:rotate(179.912193680179deg);
  transform:rotate(179.912193680179deg);
}
#u16971p002_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u16971 {
  border-width:0px;
  position:absolute;
  left:2240px;
  top:931px;
  width:178px;
  height:1px;
  display:flex;
  -webkit-transform:rotate(-60.912193680179deg);
  -moz-transform:rotate(-60.912193680179deg);
  -ms-transform:rotate(-60.912193680179deg);
  transform:rotate(-60.912193680179deg);
}
#u16971 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u16971_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u16972_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u16972 {
  border-width:0px;
  position:absolute;
  left:2366px;
  top:868px;
  width:42px;
  height:14px;
  display:flex;
}
#u16972 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u16972_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u16973_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:12px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#818181;
}
#u16973 {
  border-width:0px;
  position:absolute;
  left:2307px;
  top:930px;
  width:20px;
  height:12px;
  display:flex;
  -webkit-transform:rotate(300deg);
  -moz-transform:rotate(300deg);
  -ms-transform:rotate(300deg);
  transform:rotate(300deg);
  font-size:12px;
  color:#818181;
}
#u16973 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u16973_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u16974_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:12px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#818181;
}
#u16974 {
  border-width:0px;
  position:absolute;
  left:2172px;
  top:875px;
  width:20px;
  height:12px;
  display:flex;
  -webkit-transform:rotate(25deg);
  -moz-transform:rotate(25deg);
  -ms-transform:rotate(25deg);
  transform:rotate(25deg);
  font-size:12px;
  color:#818181;
}
#u16974 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u16974_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u16975_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-9px;
  width:96px;
  height:19px;
}
#u16975p000 {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-3px;
  width:92px;
  height:6px;
  -webkit-transform:rotate(0.320967214501508deg);
  -moz-transform:rotate(0.320967214501508deg);
  -ms-transform:rotate(0.320967214501508deg);
  transform:rotate(0.320967214501508deg);
}
#u16975p000_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:6px;
}
#u16975p001 {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-3px;
  width:4px;
  height:4px;
  -webkit-transform:rotate(-143.679032785498deg);
  -moz-transform:rotate(-143.679032785498deg);
  -ms-transform:rotate(-143.679032785498deg);
  transform:rotate(-143.679032785498deg);
}
#u16975p001_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:4px;
  height:4px;
}
#u16975p002 {
  border-width:0px;
  position:absolute;
  left:71px;
  top:-10px;
  width:24px;
  height:20px;
  -webkit-transform:rotate(-179.679032785498deg);
  -moz-transform:rotate(-179.679032785498deg);
  -ms-transform:rotate(-179.679032785498deg);
  transform:rotate(-179.679032785498deg);
}
#u16975p002_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:20px;
}
#u16975 {
  border-width:0px;
  position:absolute;
  left:2146px;
  top:960px;
  width:87px;
  height:1px;
  display:flex;
  -webkit-transform:rotate(143.679032785498deg);
  -moz-transform:rotate(143.679032785498deg);
  -ms-transform:rotate(143.679032785498deg);
  transform:rotate(143.679032785498deg);
}
#u16975 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u16975_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u16976_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:12px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#818181;
}
#u16976 {
  border-width:0px;
  position:absolute;
  left:2172px;
  top:946px;
  width:20px;
  height:12px;
  display:flex;
  -webkit-transform:rotate(321deg);
  -moz-transform:rotate(321deg);
  -ms-transform:rotate(321deg);
  transform:rotate(321deg);
  font-size:12px;
  color:#818181;
}
#u16976 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u16976_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u16977_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-9px;
  width:81px;
  height:19px;
}
#u16977p000 {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
  width:78px;
  height:6px;
  -webkit-transform:rotate(0.147891260071347deg);
  -moz-transform:rotate(0.147891260071347deg);
  -ms-transform:rotate(0.147891260071347deg);
  transform:rotate(0.147891260071347deg);
}
#u16977p000_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:6px;
}
#u16977p001 {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:4px;
  height:4px;
  -webkit-transform:rotate(108.147891260071deg);
  -moz-transform:rotate(108.147891260071deg);
  -ms-transform:rotate(108.147891260071deg);
  transform:rotate(108.147891260071deg);
}
#u16977p001_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:4px;
  height:4px;
}
#u16977p002 {
  border-width:0px;
  position:absolute;
  left:57px;
  top:-11px;
  width:22px;
  height:22px;
  -webkit-transform:rotate(180.147891260071deg);
  -moz-transform:rotate(180.147891260071deg);
  -ms-transform:rotate(180.147891260071deg);
  transform:rotate(180.147891260071deg);
}
#u16977p002_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u16977 {
  border-width:0px;
  position:absolute;
  left:2223px;
  top:975px;
  width:72px;
  height:1px;
  display:flex;
  -webkit-transform:rotate(-108.147891260071deg);
  -moz-transform:rotate(-108.147891260071deg);
  -ms-transform:rotate(-108.147891260071deg);
  transform:rotate(-108.147891260071deg);
}
#u16977 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u16977_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u16978_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u16978 {
  border-width:0px;
  position:absolute;
  left:2217px;
  top:952px;
  width:31px;
  height:14px;
  display:flex;
}
#u16978 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u16978_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u16979_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:12px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#818181;
}
#u16979 {
  border-width:0px;
  position:absolute;
  left:2262px;
  top:970px;
  width:20px;
  height:12px;
  display:flex;
  -webkit-transform:rotate(70deg);
  -moz-transform:rotate(70deg);
  -ms-transform:rotate(70deg);
  transform:rotate(70deg);
  font-size:12px;
  color:#818181;
}
#u16979 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u16979_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u16980_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-9px;
  width:126px;
  height:19px;
}
#u16980p000 {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:122px;
  height:6px;
  -webkit-transform:rotate(0.470612333643402deg);
  -moz-transform:rotate(0.470612333643402deg);
  -ms-transform:rotate(0.470612333643402deg);
  transform:rotate(0.470612333643402deg);
}
#u16980p000_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:6px;
}
#u16980p001 {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-1px;
  width:4px;
  height:4px;
  -webkit-transform:rotate(-112.529387666357deg);
  -moz-transform:rotate(-112.529387666357deg);
  -ms-transform:rotate(-112.529387666357deg);
  transform:rotate(-112.529387666357deg);
}
#u16980p001_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:4px;
  height:4px;
}
#u16980p002 {
  border-width:0px;
  position:absolute;
  left:102px;
  top:-11px;
  width:22px;
  height:22px;
  -webkit-transform:rotate(-179.529387666357deg);
  -moz-transform:rotate(-179.529387666357deg);
  -ms-transform:rotate(-179.529387666357deg);
  transform:rotate(-179.529387666357deg);
}
#u16980p002_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u16980 {
  border-width:0px;
  position:absolute;
  left:2325px;
  top:1046px;
  width:117px;
  height:1px;
  display:flex;
  -webkit-transform:rotate(112.529387666357deg);
  -moz-transform:rotate(112.529387666357deg);
  -ms-transform:rotate(112.529387666357deg);
  transform:rotate(112.529387666357deg);
}
#u16980 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u16980_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u16981_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:12px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#818181;
}
#u16981 {
  border-width:0px;
  position:absolute;
  left:2363px;
  top:1033px;
  width:20px;
  height:12px;
  display:flex;
  -webkit-transform:rotate(300deg);
  -moz-transform:rotate(300deg);
  -ms-transform:rotate(300deg);
  transform:rotate(300deg);
  font-size:12px;
  color:#818181;
}
#u16981 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u16981_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u16982_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-9px;
  width:119px;
  height:19px;
}
#u16982p000 {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
  width:116px;
  height:6px;
  -webkit-transform:rotate(-0.117160945017844deg);
  -moz-transform:rotate(-0.117160945017844deg);
  -ms-transform:rotate(-0.117160945017844deg);
  transform:rotate(-0.117160945017844deg);
}
#u16982p000_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:6px;
}
#u16982p001 {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:4px;
  height:4px;
  -webkit-transform:rotate(-79.1171609450178deg);
  -moz-transform:rotate(-79.1171609450178deg);
  -ms-transform:rotate(-79.1171609450178deg);
  transform:rotate(-79.1171609450178deg);
}
#u16982p001_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:4px;
  height:4px;
}
#u16982p002 {
  border-width:0px;
  position:absolute;
  left:95px;
  top:-10px;
  width:22px;
  height:22px;
  -webkit-transform:rotate(-180.117160945018deg);
  -moz-transform:rotate(-180.117160945018deg);
  -ms-transform:rotate(-180.117160945018deg);
  transform:rotate(-180.117160945018deg);
}
#u16982p002_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u16982 {
  border-width:0px;
  position:absolute;
  left:2389px;
  top:1044px;
  width:110px;
  height:1px;
  display:flex;
  -webkit-transform:rotate(79.1171609450178deg);
  -moz-transform:rotate(79.1171609450178deg);
  -ms-transform:rotate(79.1171609450178deg);
  transform:rotate(79.1171609450178deg);
}
#u16982 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u16982_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u16983_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:12px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#818181;
}
#u16983 {
  border-width:0px;
  position:absolute;
  left:2444px;
  top:1035px;
  width:20px;
  height:12px;
  display:flex;
  -webkit-transform:rotate(80deg);
  -moz-transform:rotate(80deg);
  -ms-transform:rotate(80deg);
  transform:rotate(80deg);
  font-size:12px;
  color:#818181;
}
#u16983 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u16983_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u16984_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-9px;
  width:91px;
  height:19px;
}
#u16984p000 {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-3px;
  width:86px;
  height:6px;
  -webkit-transform:rotate(0.284556436985127deg);
  -moz-transform:rotate(0.284556436985127deg);
  -ms-transform:rotate(0.284556436985127deg);
  transform:rotate(0.284556436985127deg);
}
#u16984p000_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:6px;
}
#u16984p001 {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:4px;
  height:4px;
  -webkit-transform:rotate(131.284556436985deg);
  -moz-transform:rotate(131.284556436985deg);
  -ms-transform:rotate(131.284556436985deg);
  transform:rotate(131.284556436985deg);
}
#u16984p001_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:4px;
  height:4px;
}
#u16984p002 {
  border-width:0px;
  position:absolute;
  left:66px;
  top:-10px;
  width:22px;
  height:22px;
  -webkit-transform:rotate(180.284556436985deg);
  -moz-transform:rotate(180.284556436985deg);
  -ms-transform:rotate(180.284556436985deg);
  transform:rotate(180.284556436985deg);
}
#u16984p002_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u16984 {
  border-width:0px;
  position:absolute;
  left:2276px;
  top:1072px;
  width:82px;
  height:1px;
  display:flex;
  -webkit-transform:rotate(-131.284556436985deg);
  -moz-transform:rotate(-131.284556436985deg);
  -ms-transform:rotate(-131.284556436985deg);
  transform:rotate(-131.284556436985deg);
}
#u16984 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u16984_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u16985_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:12px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#818181;
}
#u16985 {
  border-width:0px;
  position:absolute;
  left:2318px;
  top:1061px;
  width:20px;
  height:12px;
  display:flex;
  -webkit-transform:rotate(45deg);
  -moz-transform:rotate(45deg);
  -ms-transform:rotate(45deg);
  transform:rotate(45deg);
  font-size:12px;
  color:#818181;
}
#u16985 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u16985_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u16986 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u16987_img {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:-5px;
  width:52px;
  height:52px;
}
#u16987 {
  border-width:0px;
  position:absolute;
  left:2220px;
  top:902px;
  width:42px;
  height:42px;
  display:flex;
}
#u16987 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u16987_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
