body {
  margin:0px;
  background-image:none;
  position:relative;
  left:0px;
  width:2550px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u18209_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2550px;
  height:1243px;
}
#u18209 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2550px;
  height:1243px;
  display:flex;
}
#u18209 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u18209_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u18210_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:688px;
  height:51px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u18210 {
  border-width:0px;
  position:absolute;
  left:991px;
  top:1134px;
  width:688px;
  height:51px;
  display:flex;
}
#u18210 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u18210_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u18211_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:619px;
  height:60px;
}
#u18211 {
  border-width:0px;
  position:absolute;
  left:1053px;
  top:1125px;
  width:619px;
  height:60px;
  display:flex;
}
#u18211 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u18211_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u18212_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:43px;
}
#u18212 {
  border-width:0px;
  position:absolute;
  left:1002px;
  top:1138px;
  width:43px;
  height:43px;
  display:flex;
}
#u18212 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u18212_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u18213_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:19px;
}
#u18213 {
  border-width:0px;
  position:absolute;
  left:1014px;
  top:1150px;
  width:19px;
  height:19px;
  display:flex;
  color:#7560FF;
}
#u18213 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u18213_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u18214_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:367px;
  height:55px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u18214 {
  border-width:0px;
  position:absolute;
  left:1312px;
  top:1134px;
  width:367px;
  height:55px;
  display:flex;
}
#u18214 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u18214_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u18215_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  height:51px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u18215 {
  border-width:0px;
  position:absolute;
  left:1308px;
  top:1134px;
  width:148px;
  height:51px;
  display:flex;
}
#u18215 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u18215_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u18216 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u18217_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:166px;
  height:43px;
  background:inherit;
  background-color:rgba(249, 250, 251, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(219, 219, 219, 1);
  border-radius:87px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#7560FF;
  text-align:left;
}
#u18217 {
  border-width:0px;
  position:absolute;
  left:1319px;
  top:1138px;
  width:166px;
  height:43px;
  display:flex;
  font-size:18px;
  color:#7560FF;
  text-align:left;
}
#u18217 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u18217_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u18218_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u18218 {
  border-width:0px;
  position:absolute;
  left:1452px;
  top:1154px;
  width:10px;
  height:10px;
  display:flex;
}
#u18218 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u18218_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u18219_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:17px;
}
#u18219 {
  border-width:0px;
  position:absolute;
  left:1340px;
  top:1151px;
  width:17px;
  height:17px;
  display:flex;
}
#u18219 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u18219_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u18220_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2550px;
  height:1243px;
}
#u18220 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:1350px;
  width:2550px;
  height:1243px;
  display:flex;
}
#u18220 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u18220_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u18221_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2550px;
  height:1243px;
}
#u18221 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:2636px;
  width:2550px;
  height:1243px;
  display:flex;
}
#u18221 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u18221_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u18222_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1377px;
  height:463px;
}
#u18222 {
  border-width:0px;
  position:absolute;
  left:900px;
  top:268px;
  width:1377px;
  height:463px;
  display:flex;
}
#u18222 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u18222_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u18223_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1324px;
  height:156px;
}
#u18223 {
  border-width:0px;
  position:absolute;
  left:975px;
  top:285px;
  width:1324px;
  height:156px;
  display:flex;
}
#u18223 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u18223_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u18224_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:443px;
}
#u18224 {
  border-width:0px;
  position:absolute;
  left:865px;
  top:424px;
  width:46px;
  height:443px;
  display:flex;
}
#u18224 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u18224_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u18225_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:699px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:19px;
  letter-spacing:0.4px;
  color:#4B4B4B;
}
#u18225 {
  border-width:0px;
  position:absolute;
  left:1002px;
  top:244px;
  width:699px;
  height:22px;
  display:flex;
  font-size:19px;
  letter-spacing:0.4px;
  color:#4B4B4B;
}
#u18225 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u18225_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u18226_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1289px;
  height:779px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:15px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  letter-spacing:1.5px;
}
#u18226 {
  border-width:0px;
  position:absolute;
  left:975px;
  top:237px;
  width:1289px;
  height:779px;
  display:flex;
  letter-spacing:1.5px;
}
#u18226 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u18226_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u18227_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:428px;
}
#u18227 {
  border-width:0px;
  position:absolute;
  left:2264px;
  top:237px;
  width:46px;
  height:428px;
  display:flex;
}
#u18227 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u18227_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u18228_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:43px;
  background:inherit;
  background-color:rgba(249, 250, 251, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(220, 223, 228, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:15px;
}
#u18228 {
  border-width:0px;
  position:absolute;
  left:1013px;
  top:942px;
  width:96px;
  height:43px;
  display:flex;
  font-size:15px;
}
#u18228 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u18228_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u18229_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:43px;
  background:inherit;
  background-color:rgba(98, 74, 255, 1);
  border:none;
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:15px;
  color:#FFFFFF;
}
#u18229 {
  border-width:0px;
  position:absolute;
  left:1126px;
  top:942px;
  width:95px;
  height:43px;
  display:flex;
  font-size:15px;
  color:#FFFFFF;
}
#u18229 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u18229_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u18230_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:299px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:21px;
  color:#484848;
}
#u18230 {
  border-width:0px;
  position:absolute;
  left:1013px;
  top:266px;
  width:299px;
  height:24px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:21px;
  color:#484848;
}
#u18230 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u18230_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u18231_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:421px;
}
#u18231 {
  border-width:0px;
  position:absolute;
  left:911px;
  top:244px;
  width:64px;
  height:421px;
  display:flex;
}
#u18231 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u18231_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u18232_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1185px;
  height:188px;
  background:inherit;
  background-color:rgba(247, 247, 247, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(229, 229, 229, 1);
  border-radius:6px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u18232 {
  border-width:0px;
  position:absolute;
  left:1035px;
  top:319px;
  width:1185px;
  height:188px;
  display:flex;
}
#u18232 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u18232_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u18233_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  letter-spacing:0.7px;
  color:#ACACAC;
  line-height:23px;
}
#u18233 {
  border-width:0px;
  position:absolute;
  left:1063px;
  top:454px;
  width:125px;
  height:23px;
  display:flex;
  letter-spacing:0.7px;
  color:#ACACAC;
  line-height:23px;
}
#u18233 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u18233_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u18234_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:28px;
  background:inherit;
  background-color:rgba(249, 250, 251, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(220, 223, 228, 1);
  border-radius:48px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#624AFF;
}
#u18234 {
  border-width:0px;
  position:absolute;
  left:1138px;
  top:451px;
  width:106px;
  height:28px;
  display:flex;
  font-size:12px;
  color:#624AFF;
}
#u18234 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u18234_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u18235_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:28px;
  background:inherit;
  background-color:rgba(249, 250, 251, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(220, 223, 228, 1);
  border-radius:48px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#624AFF;
}
#u18235 {
  border-width:0px;
  position:absolute;
  left:1252px;
  top:451px;
  width:119px;
  height:28px;
  display:flex;
  font-size:12px;
  color:#624AFF;
}
#u18235 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u18235_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u18236_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:27px;
}
#u18236 {
  border-width:0px;
  position:absolute;
  left:1382px;
  top:451px;
  width:27px;
  height:27px;
  display:flex;
  color:#624AFF;
}
#u18236 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u18236_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u18237_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1073px;
  height:45px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(229, 229, 229, 1);
  border-radius:8px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:17px;
  color:#4E4E4E;
  text-align:left;
}
#u18237 {
  border-width:0px;
  position:absolute;
  left:1063px;
  top:341px;
  width:1073px;
  height:45px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:17px;
  color:#4E4E4E;
  text-align:left;
}
#u18237 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 12px;
  box-sizing:border-box;
  width:100%;
}
#u18237_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u18238_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1058px;
  height:45px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(229, 229, 229, 1);
  border-radius:8px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#4B4B4B;
  text-align:left;
}
#u18238 {
  border-width:0px;
  position:absolute;
  left:1134px;
  top:396px;
  width:1058px;
  height:45px;
  display:flex;
  font-size:16px;
  color:#4B4B4B;
  text-align:left;
}
#u18238 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 12px;
  box-sizing:border-box;
  width:100%;
}
#u18238_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u18239_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  letter-spacing:0.7px;
  color:#ACACAC;
  line-height:23px;
}
#u18239 {
  border-width:0px;
  position:absolute;
  left:1063px;
  top:407px;
  width:125px;
  height:23px;
  display:flex;
  letter-spacing:0.7px;
  color:#ACACAC;
  line-height:23px;
}
#u18239 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u18239_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u18240_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:18px;
}
#u18240 {
  border-width:0px;
  position:absolute;
  left:1013px;
  top:422px;
  width:10px;
  height:18px;
  display:flex;
}
#u18240 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u18240_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u18241_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:18px;
}
#u18241 {
  border-width:0px;
  position:absolute;
  left:1013px;
  top:400px;
  width:10px;
  height:18px;
  display:flex;
}
#u18241 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u18241_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u18242_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:18px;
}
#u18242 {
  border-width:0px;
  position:absolute;
  left:1013px;
  top:378px;
  width:10px;
  height:18px;
  display:flex;
}
#u18242 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u18242_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u18243_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1185px;
  height:188px;
  background:inherit;
  background-color:rgba(247, 247, 247, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(229, 229, 229, 1);
  border-radius:6px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u18243 {
  border-width:0px;
  position:absolute;
  left:1035px;
  top:525px;
  width:1185px;
  height:188px;
  display:flex;
}
#u18243 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u18243_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u18244_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  letter-spacing:0.7px;
  color:#ACACAC;
  line-height:23px;
}
#u18244 {
  border-width:0px;
  position:absolute;
  left:1063px;
  top:660px;
  width:125px;
  height:23px;
  display:flex;
  letter-spacing:0.7px;
  color:#ACACAC;
  line-height:23px;
}
#u18244 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u18244_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u18245_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1073px;
  height:45px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(229, 229, 229, 1);
  border-radius:8px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:17px;
  color:#4E4E4E;
  text-align:left;
}
#u18245 {
  border-width:0px;
  position:absolute;
  left:1063px;
  top:547px;
  width:1073px;
  height:45px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:17px;
  color:#4E4E4E;
  text-align:left;
}
#u18245 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 12px;
  box-sizing:border-box;
  width:100%;
}
#u18245_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u18246_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1058px;
  height:45px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(229, 229, 229, 1);
  border-radius:8px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#4B4B4B;
  text-align:left;
}
#u18246 {
  border-width:0px;
  position:absolute;
  left:1134px;
  top:602px;
  width:1058px;
  height:45px;
  display:flex;
  font-size:16px;
  color:#4B4B4B;
  text-align:left;
}
#u18246 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 12px;
  box-sizing:border-box;
  width:100%;
}
#u18246_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u18247_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  letter-spacing:0.7px;
  color:#ACACAC;
  line-height:23px;
}
#u18247 {
  border-width:0px;
  position:absolute;
  left:1063px;
  top:613px;
  width:125px;
  height:23px;
  display:flex;
  letter-spacing:0.7px;
  color:#ACACAC;
  line-height:23px;
}
#u18247 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u18247_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u18248_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:18px;
}
#u18248 {
  border-width:0px;
  position:absolute;
  left:1013px;
  top:628px;
  width:10px;
  height:18px;
  display:flex;
}
#u18248 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u18248_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u18249_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:18px;
}
#u18249 {
  border-width:0px;
  position:absolute;
  left:1013px;
  top:606px;
  width:10px;
  height:18px;
  display:flex;
}
#u18249 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u18249_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u18250_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:18px;
}
#u18250 {
  border-width:0px;
  position:absolute;
  left:1013px;
  top:584px;
  width:10px;
  height:18px;
  display:flex;
}
#u18250 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u18250_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u18251_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:18px;
}
#u18251 {
  border-width:0px;
  position:absolute;
  left:2156px;
  top:356px;
  width:18px;
  height:18px;
  display:flex;
}
#u18251 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u18251_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u18252_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:18px;
}
#u18252 {
  border-width:0px;
  position:absolute;
  left:2156px;
  top:561px;
  width:18px;
  height:18px;
  display:flex;
}
#u18252 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u18252_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u18253_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#5B66F2;
}
#u18253 {
  border-width:0px;
  position:absolute;
  left:2143px;
  top:275px;
  width:65px;
  height:16px;
  display:flex;
  color:#5B66F2;
}
#u18253 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u18253_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u18254_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:13px;
}
#u18254 {
  border-width:0px;
  position:absolute;
  left:2124px;
  top:275px;
  width:13px;
  height:13px;
  display:flex;
}
#u18254 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u18254_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u18255_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:28px;
  background:inherit;
  background-color:rgba(249, 250, 251, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(220, 223, 228, 1);
  border-radius:48px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#624AFF;
}
#u18255 {
  border-width:0px;
  position:absolute;
  left:1137px;
  top:658px;
  width:112px;
  height:28px;
  display:flex;
  font-size:12px;
  color:#624AFF;
}
#u18255 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u18255_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u18256_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:27px;
}
#u18256 {
  border-width:0px;
  position:absolute;
  left:1258px;
  top:659px;
  width:27px;
  height:27px;
  display:flex;
  color:#624AFF;
}
#u18256 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u18256_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u18257_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1185px;
  height:188px;
  background:inherit;
  background-color:rgba(247, 247, 247, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(229, 229, 229, 1);
  border-radius:6px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u18257 {
  border-width:0px;
  position:absolute;
  left:1035px;
  top:731px;
  width:1185px;
  height:188px;
  display:flex;
}
#u18257 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u18257_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u18258_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  letter-spacing:0.7px;
  color:#ACACAC;
  line-height:23px;
}
#u18258 {
  border-width:0px;
  position:absolute;
  left:1063px;
  top:866px;
  width:125px;
  height:23px;
  display:flex;
  letter-spacing:0.7px;
  color:#ACACAC;
  line-height:23px;
}
#u18258 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u18258_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u18259_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1073px;
  height:45px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(229, 229, 229, 1);
  border-radius:8px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:17px;
  color:#4E4E4E;
  text-align:left;
}
#u18259 {
  border-width:0px;
  position:absolute;
  left:1063px;
  top:753px;
  width:1073px;
  height:45px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:17px;
  color:#4E4E4E;
  text-align:left;
}
#u18259 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 12px;
  box-sizing:border-box;
  width:100%;
}
#u18259_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u18260_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1058px;
  height:45px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(229, 229, 229, 1);
  border-radius:8px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  text-align:left;
}
#u18260 {
  border-width:0px;
  position:absolute;
  left:1134px;
  top:808px;
  width:1058px;
  height:45px;
  display:flex;
  font-size:16px;
  text-align:left;
}
#u18260 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 12px;
  box-sizing:border-box;
  width:100%;
}
#u18260_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u18261_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  letter-spacing:0.7px;
  color:#ACACAC;
  line-height:23px;
}
#u18261 {
  border-width:0px;
  position:absolute;
  left:1063px;
  top:819px;
  width:125px;
  height:23px;
  display:flex;
  letter-spacing:0.7px;
  color:#ACACAC;
  line-height:23px;
}
#u18261 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u18261_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u18262_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:18px;
}
#u18262 {
  border-width:0px;
  position:absolute;
  left:1013px;
  top:834px;
  width:10px;
  height:18px;
  display:flex;
}
#u18262 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u18262_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u18263_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:18px;
}
#u18263 {
  border-width:0px;
  position:absolute;
  left:1013px;
  top:812px;
  width:10px;
  height:18px;
  display:flex;
}
#u18263 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u18263_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u18264_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:18px;
}
#u18264 {
  border-width:0px;
  position:absolute;
  left:1013px;
  top:790px;
  width:10px;
  height:18px;
  display:flex;
}
#u18264 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u18264_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u18265_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:18px;
}
#u18265 {
  border-width:0px;
  position:absolute;
  left:2156px;
  top:767px;
  width:18px;
  height:18px;
  display:flex;
}
#u18265 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u18265_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u18266_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:27px;
}
#u18266 {
  border-width:0px;
  position:absolute;
  left:1138px;
  top:865px;
  width:27px;
  height:27px;
  display:flex;
  color:#624AFF;
}
#u18266 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u18266_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
