body {
  margin:0px;
  background-image:none;
  position:relative;
  left:0px;
  width:2550px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u18161_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2550px;
  height:1243px;
}
#u18161 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2550px;
  height:1243px;
  display:flex;
}
#u18161 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u18161_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u18162_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:688px;
  height:51px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u18162 {
  border-width:0px;
  position:absolute;
  left:991px;
  top:1134px;
  width:688px;
  height:51px;
  display:flex;
}
#u18162 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u18162_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u18163_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:619px;
  height:60px;
}
#u18163 {
  border-width:0px;
  position:absolute;
  left:1053px;
  top:1125px;
  width:619px;
  height:60px;
  display:flex;
}
#u18163 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u18163_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u18164_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:43px;
}
#u18164 {
  border-width:0px;
  position:absolute;
  left:1002px;
  top:1138px;
  width:43px;
  height:43px;
  display:flex;
}
#u18164 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u18164_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u18165_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:19px;
}
#u18165 {
  border-width:0px;
  position:absolute;
  left:1014px;
  top:1150px;
  width:19px;
  height:19px;
  display:flex;
  color:#7560FF;
}
#u18165 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u18165_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u18166_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:367px;
  height:55px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u18166 {
  border-width:0px;
  position:absolute;
  left:1312px;
  top:1134px;
  width:367px;
  height:55px;
  display:flex;
}
#u18166 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u18166_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u18167_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  height:51px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u18167 {
  border-width:0px;
  position:absolute;
  left:1308px;
  top:1134px;
  width:148px;
  height:51px;
  display:flex;
}
#u18167 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u18167_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u18168 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u18169_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:166px;
  height:43px;
  background:inherit;
  background-color:rgba(249, 250, 251, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(219, 219, 219, 1);
  border-radius:87px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#7560FF;
  text-align:left;
}
#u18169 {
  border-width:0px;
  position:absolute;
  left:1319px;
  top:1138px;
  width:166px;
  height:43px;
  display:flex;
  font-size:18px;
  color:#7560FF;
  text-align:left;
}
#u18169 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u18169_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u18170_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u18170 {
  border-width:0px;
  position:absolute;
  left:1452px;
  top:1154px;
  width:10px;
  height:10px;
  display:flex;
}
#u18170 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u18170_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u18171_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:17px;
}
#u18171 {
  border-width:0px;
  position:absolute;
  left:1340px;
  top:1151px;
  width:17px;
  height:17px;
  display:flex;
}
#u18171 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u18171_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u18172_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1377px;
  height:463px;
}
#u18172 {
  border-width:0px;
  position:absolute;
  left:900px;
  top:268px;
  width:1377px;
  height:463px;
  display:flex;
}
#u18172 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u18172_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u18173_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2550px;
  height:1243px;
}
#u18173 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:1350px;
  width:2550px;
  height:1243px;
  display:flex;
}
#u18173 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u18173_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u18174_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2550px;
  height:1243px;
}
#u18174 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:2636px;
  width:2550px;
  height:1243px;
  display:flex;
}
#u18174 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u18174_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u18175_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1324px;
  height:156px;
}
#u18175 {
  border-width:0px;
  position:absolute;
  left:975px;
  top:331px;
  width:1324px;
  height:156px;
  display:flex;
}
#u18175 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u18175_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u18176_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:443px;
}
#u18176 {
  border-width:0px;
  position:absolute;
  left:865px;
  top:424px;
  width:46px;
  height:443px;
  display:flex;
}
#u18176 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u18176_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u18177_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:753px;
  height:66px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:15px;
  border-top-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u18177 {
  border-width:0px;
  position:absolute;
  left:975px;
  top:343px;
  width:753px;
  height:66px;
  display:flex;
}
#u18177 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u18177_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u18178_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:699px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:19px;
  letter-spacing:0.4px;
  color:#4B4B4B;
}
#u18178 {
  border-width:0px;
  position:absolute;
  left:1002px;
  top:365px;
  width:699px;
  height:22px;
  display:flex;
  font-size:19px;
  letter-spacing:0.4px;
  color:#4B4B4B;
}
#u18178 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u18178_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u18179_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1289px;
  height:566px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:15px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  letter-spacing:1.5px;
}
#u18179 {
  border-width:0px;
  position:absolute;
  left:975px;
  top:432px;
  width:1289px;
  height:566px;
  display:flex;
  letter-spacing:1.5px;
}
#u18179 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u18179_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u18180_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:443px;
}
#u18180 {
  border-width:0px;
  position:absolute;
  left:2264px;
  top:432px;
  width:46px;
  height:443px;
  display:flex;
}
#u18180 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u18180_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u18181_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:43px;
  background:inherit;
  background-color:rgba(249, 250, 251, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(220, 223, 228, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:15px;
}
#u18181 {
  border-width:0px;
  position:absolute;
  left:1013px;
  top:906px;
  width:96px;
  height:43px;
  display:flex;
  font-size:15px;
}
#u18181 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u18181_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u18182_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:43px;
  background:inherit;
  background-color:rgba(98, 74, 255, 1);
  border:none;
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:15px;
  color:#FFFFFF;
}
#u18182 {
  border-width:0px;
  position:absolute;
  left:1240px;
  top:906px;
  width:95px;
  height:43px;
  display:flex;
  font-size:15px;
  color:#FFFFFF;
}
#u18182 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u18182_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u18183_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#624AFF;
}
#u18183 {
  border-width:0px;
  position:absolute;
  left:1046px;
  top:464px;
  width:96px;
  height:18px;
  display:flex;
  font-size:16px;
  color:#624AFF;
}
#u18183 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u18183_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u18184_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:299px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:21px;
  color:#484848;
}
#u18184 {
  border-width:0px;
  position:absolute;
  left:1013px;
  top:504px;
  width:299px;
  height:24px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:21px;
  color:#484848;
}
#u18184 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u18184_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u18185_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:17px;
  color:#4E4E4E;
}
#u18185 {
  border-width:0px;
  position:absolute;
  left:1048px;
  top:556px;
  width:136px;
  height:20px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:17px;
  color:#4E4E4E;
}
#u18185 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u18185_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u18186_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u18186 {
  border-width:0px;
  position:absolute;
  left:1017px;
  top:556px;
  width:20px;
  height:20px;
  display:flex;
}
#u18186 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u18186_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u18187_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1156px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  letter-spacing:0.7px;
  color:#4B4B4B;
  line-height:23px;
}
#u18187 {
  border-width:0px;
  position:absolute;
  left:1046px;
  top:593px;
  width:1156px;
  height:23px;
  display:flex;
  font-size:16px;
  letter-spacing:0.7px;
  color:#4B4B4B;
  line-height:23px;
}
#u18187 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u18187_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u18188_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:8px;
}
#u18188 {
  border-width:0px;
  position:absolute;
  left:1192px;
  top:562px;
  width:15px;
  height:8px;
  display:flex;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
}
#u18188 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u18188_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u18189_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:259px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:17px;
  color:#4E4E4E;
}
#u18189 {
  border-width:0px;
  position:absolute;
  left:1048px;
  top:682px;
  width:259px;
  height:20px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:17px;
  color:#4E4E4E;
}
#u18189 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u18189_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u18190_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u18190 {
  border-width:0px;
  position:absolute;
  left:1017px;
  top:682px;
  width:20px;
  height:20px;
  display:flex;
}
#u18190 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u18190_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u18191_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:8px;
}
#u18191 {
  border-width:0px;
  position:absolute;
  left:1312px;
  top:688px;
  width:15px;
  height:8px;
  display:flex;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
}
#u18191 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u18191_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u18192_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1156px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  letter-spacing:0.7px;
  color:#4B4B4B;
  line-height:21px;
}
#u18192 {
  border-width:0px;
  position:absolute;
  left:1046px;
  top:721px;
  width:1156px;
  height:21px;
  display:flex;
  font-size:16px;
  letter-spacing:0.7px;
  color:#4B4B4B;
  line-height:21px;
}
#u18192 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u18192_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u18193_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:399px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:17px;
  color:#4E4E4E;
}
#u18193 {
  border-width:0px;
  position:absolute;
  left:1048px;
  top:807px;
  width:399px;
  height:20px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:17px;
  color:#4E4E4E;
}
#u18193 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u18193_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u18194_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u18194 {
  border-width:0px;
  position:absolute;
  left:1017px;
  top:807px;
  width:20px;
  height:20px;
  display:flex;
}
#u18194 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u18194_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u18195_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:8px;
}
#u18195 {
  border-width:0px;
  position:absolute;
  left:1455px;
  top:813px;
  width:15px;
  height:8px;
  display:flex;
}
#u18195 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u18195_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u18196_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:17px;
  color:#4E4E4E;
}
#u18196 {
  border-width:0px;
  position:absolute;
  left:1048px;
  top:854px;
  width:102px;
  height:20px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:17px;
  color:#4E4E4E;
}
#u18196 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u18196_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u18197_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u18197 {
  border-width:0px;
  position:absolute;
  left:1017px;
  top:854px;
  width:20px;
  height:20px;
  display:flex;
}
#u18197 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u18197_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u18198_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:8px;
}
#u18198 {
  border-width:0px;
  position:absolute;
  left:1156px;
  top:860px;
  width:15px;
  height:8px;
  display:flex;
}
#u18198 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u18198_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u18199_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  letter-spacing:0.7px;
  color:#ACACAC;
  line-height:23px;
}
#u18199 {
  border-width:0px;
  position:absolute;
  left:1046px;
  top:632px;
  width:125px;
  height:23px;
  display:flex;
  letter-spacing:0.7px;
  color:#ACACAC;
  line-height:23px;
}
#u18199 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u18199_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u18200_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:28px;
  background:inherit;
  background-color:rgba(249, 250, 251, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(220, 223, 228, 1);
  border-radius:48px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#624AFF;
}
#u18200 {
  border-width:0px;
  position:absolute;
  left:1119px;
  top:629px;
  width:95px;
  height:28px;
  display:flex;
  font-size:12px;
  color:#624AFF;
}
#u18200 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u18200_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u18201_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:28px;
  background:inherit;
  background-color:rgba(249, 250, 251, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(220, 223, 228, 1);
  border-radius:48px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#624AFF;
}
#u18201 {
  border-width:0px;
  position:absolute;
  left:1225px;
  top:629px;
  width:95px;
  height:28px;
  display:flex;
  font-size:12px;
  color:#624AFF;
}
#u18201 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u18201_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u18202_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  letter-spacing:0.7px;
  color:#ACACAC;
  line-height:23px;
}
#u18202 {
  border-width:0px;
  position:absolute;
  left:1046px;
  top:758px;
  width:125px;
  height:23px;
  display:flex;
  letter-spacing:0.7px;
  color:#ACACAC;
  line-height:23px;
}
#u18202 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u18202_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u18203_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:28px;
  background:inherit;
  background-color:rgba(249, 250, 251, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(220, 223, 228, 1);
  border-radius:48px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#624AFF;
}
#u18203 {
  border-width:0px;
  position:absolute;
  left:1119px;
  top:755px;
  width:112px;
  height:28px;
  display:flex;
  font-size:12px;
  color:#624AFF;
}
#u18203 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u18203_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u18204_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:43px;
  background:inherit;
  background-color:rgba(249, 250, 251, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(220, 223, 228, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:15px;
}
#u18204 {
  border-width:0px;
  position:absolute;
  left:1127px;
  top:906px;
  width:96px;
  height:43px;
  display:flex;
  font-size:15px;
}
#u18204 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u18204_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u18205_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:19px;
}
#u18205 {
  border-width:0px;
  position:absolute;
  left:1016px;
  top:463px;
  width:19px;
  height:19px;
  display:flex;
}
#u18205 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u18205_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u18206_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:86px;
}
#u18206 {
  border-width:0px;
  position:absolute;
  left:1027px;
  top:586px;
  width:1px;
  height:85px;
  display:flex;
  color:#DDDDDD;
}
#u18206 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u18206_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u18207_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:86px;
}
#u18207 {
  border-width:0px;
  position:absolute;
  left:1027px;
  top:711px;
  width:1px;
  height:85px;
  display:flex;
  color:#DDDDDD;
}
#u18207 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u18207_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u18208_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:16px;
}
#u18208 {
  border-width:0px;
  position:absolute;
  left:1027px;
  top:834px;
  width:1px;
  height:15px;
  display:flex;
  color:#DDDDDD;
}
#u18208 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u18208_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
