body {
  margin:0px;
  background-image:none;
  position:relative;
  left:0px;
  width:5341px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u13783_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1710px;
  height:896px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u13783 {
  border-width:0px;
  position:absolute;
  left:210px;
  top:64px;
  width:1710px;
  height:896px;
  display:flex;
}
#u13783 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u13783_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u13784 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u13785 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u13786_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:64px;
  background:-webkit-linear-gradient(0deg, rgba(1, 57, 143, 1) 0%, rgba(30, 127, 213, 1) 99%);
  background:-moz-linear-gradient(90deg, rgba(1, 57, 143, 1) 0%, rgba(30, 127, 213, 1) 99%);
  background:linear-gradient(90deg, rgba(1, 57, 143, 1) 0%, rgba(30, 127, 213, 1) 99%);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u13786 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:64px;
  display:flex;
}
#u13786 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u13786_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u13787 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u13788_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:367px;
  height:39px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'庞门正道标题体';
  font-weight:400;
  font-style:normal;
  font-size:34px;
  letter-spacing:2px;
  color:#FFFFFF;
}
#u13788 {
  border-width:0px;
  position:absolute;
  left:63px;
  top:13px;
  width:367px;
  height:39px;
  display:flex;
  font-family:'庞门正道标题体';
  font-weight:400;
  font-style:normal;
  font-size:34px;
  letter-spacing:2px;
  color:#FFFFFF;
}
#u13788 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u13788_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u13789_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:36px;
}
#u13789 {
  border-width:0px;
  position:absolute;
  left:14px;
  top:14px;
  width:36px;
  height:36px;
  display:flex;
}
#u13789 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u13789_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u13790_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1694px;
  height:68px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:6px;
  -moz-box-shadow:5px 0px 5px rgba(215, 215, 215, 0.349019607843137);
  -webkit-box-shadow:5px 0px 5px rgba(215, 215, 215, 0.349019607843137);
  box-shadow:5px 0px 5px rgba(215, 215, 215, 0.349019607843137);
}
#u13790 {
  border-width:0px;
  position:absolute;
  left:218px;
  top:72px;
  width:1694px;
  height:68px;
  display:flex;
}
#u13790 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u13790_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u13791_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1694px;
  height:804px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:6px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u13791 {
  border-width:0px;
  position:absolute;
  left:218px;
  top:148px;
  width:1694px;
  height:804px;
  display:flex;
}
#u13791 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u13791_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u13792_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1695px;
  height:2px;
}
#u13792 {
  border-width:0px;
  position:absolute;
  left:218px;
  top:192px;
  width:1694px;
  height:1px;
  display:flex;
}
#u13792 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u13792_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u13793_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  text-align:center;
}
#u13793 {
  border-width:0px;
  position:absolute;
  left:254px;
  top:162px;
  width:32px;
  height:18px;
  display:flex;
  font-size:16px;
  text-align:center;
}
#u13793 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u13793_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u13794_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#0582DD;
  text-align:center;
}
#u13794 {
  border-width:0px;
  position:absolute;
  left:367px;
  top:162px;
  width:32px;
  height:18px;
  display:flex;
  font-size:16px;
  color:#0582DD;
  text-align:center;
}
#u13794 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u13794_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u13795_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  text-align:center;
}
#u13795 {
  border-width:0px;
  position:absolute;
  left:480px;
  top:162px;
  width:32px;
  height:18px;
  display:flex;
  font-size:16px;
  text-align:center;
}
#u13795 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u13795_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u13796_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:107px;
  height:5px;
}
#u13796 {
  border-width:0px;
  position:absolute;
  left:331px;
  top:191px;
  width:104px;
  height:2px;
  display:flex;
  -webkit-transform:rotate(-0.118855796567705deg);
  -moz-transform:rotate(-0.118855796567705deg);
  -ms-transform:rotate(-0.118855796567705deg);
  transform:rotate(-0.118855796567705deg);
}
#u13796 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u13796_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u13797 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u13798_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:896px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 0px 5px rgba(215, 215, 215, 0.349019607843137);
  -webkit-box-shadow:5px 0px 5px rgba(215, 215, 215, 0.349019607843137);
  box-shadow:5px 0px 5px rgba(215, 215, 215, 0.349019607843137);
}
#u13798 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:64px;
  width:210px;
  height:896px;
  display:flex;
}
#u13798 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u13798_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u13799_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  text-align:left;
}
#u13799 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:150px;
  width:210px;
  height:36px;
  display:flex;
  font-size:16px;
  text-align:left;
}
#u13799 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u13799_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:36px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  text-align:left;
}
#u13799.mouseOver {
}
#u13799_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u13800_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  text-align:left;
}
#u13800 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:186px;
  width:210px;
  height:36px;
  display:flex;
  font-size:16px;
  text-align:left;
}
#u13800 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u13800_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:36px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  text-align:left;
}
#u13800.mouseOver {
}
#u13800_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u13801_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  text-align:left;
}
#u13801 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:222px;
  width:210px;
  height:36px;
  display:flex;
  font-size:16px;
  text-align:left;
}
#u13801 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u13801_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:36px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  text-align:left;
}
#u13801.mouseOver {
}
#u13801_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u13802_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  text-align:left;
}
#u13802 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:114px;
  width:210px;
  height:36px;
  display:flex;
  font-size:16px;
  text-align:left;
}
#u13802 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u13802_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:36px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  text-align:left;
}
#u13802.mouseOver {
}
#u13802_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u13803_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u13803 {
  border-width:0px;
  position:absolute;
  left:12px;
  top:124px;
  width:16px;
  height:16px;
  display:flex;
  opacity:0.65;
}
#u13803 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u13803_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u13804_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  text-align:left;
}
#u13804 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:408px;
  width:210px;
  height:36px;
  display:flex;
  font-size:16px;
  text-align:left;
}
#u13804 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u13804_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:36px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  text-align:left;
}
#u13804.mouseOver {
}
#u13804_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u13805_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  text-align:left;
}
#u13805 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:444px;
  width:210px;
  height:36px;
  display:flex;
  font-size:16px;
  text-align:left;
}
#u13805 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u13805_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:36px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  text-align:left;
}
#u13805.mouseOver {
}
#u13805_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u13806_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  text-align:left;
}
#u13806 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:372px;
  width:210px;
  height:36px;
  display:flex;
  font-size:16px;
  text-align:left;
}
#u13806 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u13806_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:36px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  text-align:left;
}
#u13806.mouseOver {
}
#u13806_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u13807_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  text-align:left;
}
#u13807 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:258px;
  width:210px;
  height:36px;
  display:flex;
  font-size:16px;
  text-align:left;
}
#u13807 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u13807_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:36px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  text-align:left;
}
#u13807.mouseOver {
}
#u13807_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u13808_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  text-align:left;
}
#u13808 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:480px;
  width:210px;
  height:36px;
  display:flex;
  font-size:16px;
  text-align:left;
}
#u13808 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u13808_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:36px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  text-align:left;
}
#u13808.mouseOver {
}
#u13808_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u13809_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  text-align:left;
}
#u13809 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:300px;
  width:210px;
  height:36px;
  display:flex;
  font-size:16px;
  text-align:left;
}
#u13809 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u13809_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:36px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  text-align:left;
}
#u13809.mouseOver {
}
#u13809_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u13810_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:16px;
}
#u13810 {
  border-width:0px;
  position:absolute;
  left:13px;
  top:310px;
  width:14px;
  height:16px;
  display:flex;
  opacity:0.65;
}
#u13810 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u13810_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u13811_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:9px;
}
#u13811 {
  border-width:0px;
  position:absolute;
  left:186px;
  top:314px;
  width:12px;
  height:9px;
  display:flex;
}
#u13811 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u13811_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u13812_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  text-align:left;
}
#u13812 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:336px;
  width:210px;
  height:36px;
  display:flex;
  font-size:16px;
  text-align:left;
}
#u13812 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u13812_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:36px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  text-align:left;
}
#u13812.mouseOver {
}
#u13812_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u13813_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:9px;
}
#u13813 {
  border-width:0px;
  position:absolute;
  left:186px;
  top:386px;
  width:12px;
  height:9px;
  display:flex;
}
#u13813 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u13813_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u13814_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:9px;
}
#u13814 {
  border-width:0px;
  position:absolute;
  left:186px;
  top:128px;
  width:12px;
  height:9px;
  display:flex;
}
#u13814 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u13814_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u13815_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  text-align:left;
}
#u13815 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:72px;
  width:210px;
  height:36px;
  display:flex;
  font-size:16px;
  text-align:left;
}
#u13815 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u13815_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:36px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  text-align:left;
}
#u13815.mouseOver {
}
#u13815_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u13816_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u13816 {
  border-width:0px;
  position:absolute;
  left:12px;
  top:82px;
  width:16px;
  height:16px;
  display:flex;
  opacity:0.65;
}
#u13816 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u13816_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u13817_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  text-align:left;
}
#u13817 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:522px;
  width:210px;
  height:36px;
  display:flex;
  font-size:16px;
  text-align:left;
}
#u13817 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u13817_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:36px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  text-align:left;
}
#u13817.mouseOver {
}
#u13817_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u13818_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:16px;
}
#u13818 {
  border-width:0px;
  position:absolute;
  left:13px;
  top:532px;
  width:14px;
  height:16px;
  display:flex;
}
#u13818 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u13818_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u13819_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  text-align:left;
}
#u13819 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:636px;
  width:210px;
  height:36px;
  display:flex;
  font-size:16px;
  text-align:left;
}
#u13819 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u13819_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:36px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  text-align:left;
}
#u13819.mouseOver {
}
#u13819_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u13820_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  text-align:left;
}
#u13820 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:564px;
  width:210px;
  height:36px;
  display:flex;
  font-size:16px;
  text-align:left;
}
#u13820 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u13820_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:36px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  text-align:left;
}
#u13820.mouseOver {
}
#u13820_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u13821_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:9px;
}
#u13821 {
  border-width:0px;
  position:absolute;
  left:186px;
  top:578px;
  width:12px;
  height:9px;
  display:flex;
}
#u13821 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u13821_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u13822_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:36px;
  background:inherit;
  background-color:rgba(199, 223, 244, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#0582DD;
  text-align:left;
}
#u13822 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:600px;
  width:210px;
  height:36px;
  display:flex;
  font-size:16px;
  color:#0582DD;
  text-align:left;
}
#u13822 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u13822_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:36px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#0582DD;
  text-align:left;
}
#u13822.mouseOver {
}
#u13822_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u13823_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:16px;
}
#u13823 {
  border-width:0px;
  position:absolute;
  left:12px;
  top:574px;
  width:17px;
  height:16px;
  display:flex;
}
#u13823 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u13823_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u13824_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  text-align:left;
}
#u13824 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:672px;
  width:210px;
  height:36px;
  display:flex;
  font-size:16px;
  text-align:left;
}
#u13824 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u13824_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:36px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  text-align:left;
}
#u13824.mouseOver {
}
#u13824_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u13825_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:41px;
  height:9px;
}
#u13825 {
  border-width:0px;
  position:absolute;
  left:190px;
  top:616px;
  width:36px;
  height:4px;
  display:flex;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
}
#u13825 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u13825_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u13826_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2319px;
  height:1130px;
}
#u13826 {
  border-width:0px;
  position:absolute;
  left:2797px;
  top:1809px;
  width:2319px;
  height:1130px;
  display:flex;
}
#u13826 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u13826_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u13827_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2321px;
  height:1093px;
}
#u13827 {
  border-width:0px;
  position:absolute;
  left:3020px;
  top:2667px;
  width:2321px;
  height:1093px;
  display:flex;
}
#u13827 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u13827_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u13828_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2318px;
  height:1128px;
}
#u13828 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:3196px;
  width:2318px;
  height:1128px;
  display:flex;
}
#u13828 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u13828_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u13829_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#0582DD;
}
#u13829 {
  border-width:0px;
  position:absolute;
  left:262px;
  top:87px;
  width:160px;
  height:18px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#0582DD;
}
#u13829 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u13829_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u13830_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:15px;
}
#u13830 {
  border-width:0px;
  position:absolute;
  left:233px;
  top:89px;
  width:16px;
  height:15px;
  display:flex;
}
#u13830 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u13830_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u13831_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:20px;
  background:inherit;
  background-color:rgba(190, 219, 247, 0.498039215686275);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#0582DD;
  text-align:center;
}
#u13831 {
  border-width:0px;
  position:absolute;
  left:438px;
  top:86px;
  width:62px;
  height:20px;
  display:flex;
  font-size:12px;
  color:#0582DD;
  text-align:center;
}
#u13831 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u13831_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u13832_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:20px;
  background:inherit;
  background-color:rgba(190, 219, 247, 0.498039215686275);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#0582DD;
  text-align:center;
}
#u13832 {
  border-width:0px;
  position:absolute;
  left:506px;
  top:86px;
  width:62px;
  height:20px;
  display:flex;
  font-size:12px;
  color:#0582DD;
  text-align:center;
}
#u13832 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u13832_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u13833_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:944px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#000000;
}
#u13833 {
  border-width:0px;
  position:absolute;
  left:262px;
  top:112px;
  width:944px;
  height:14px;
  display:flex;
  font-size:12px;
  color:#000000;
}
#u13833 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u13833_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u13834 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u13835_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  height:10px;
}
#u13835 {
  border-width:0px;
  position:absolute;
  left:783px;
  top:91px;
  width:11px;
  height:10px;
  display:flex;
  font-size:10px;
}
#u13835 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u13835_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u13836_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:10px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:9px;
  color:#555555;
}
#u13836 {
  border-width:0px;
  position:absolute;
  left:797px;
  top:91px;
  width:27px;
  height:10px;
  display:flex;
  font-size:9px;
  color:#555555;
}
#u13836 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u13836_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u13837_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:10px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:9px;
  color:#555555;
}
#u13837 {
  border-width:0px;
  position:absolute;
  left:827px;
  top:91px;
  width:15px;
  height:10px;
  display:flex;
  font-size:9px;
  color:#555555;
}
#u13837 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u13837_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u13838 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u13839_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:10px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:9px;
  color:#555555;
}
#u13839 {
  border-width:0px;
  position:absolute;
  left:754px;
  top:91px;
  width:23px;
  height:10px;
  display:flex;
  font-size:9px;
  color:#555555;
}
#u13839 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u13839_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u13840 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u13841_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:10px;
}
#u13841 {
  border-width:0px;
  position:absolute;
  left:709px;
  top:91px;
  width:12px;
  height:10px;
  display:flex;
}
#u13841 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u13841_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u13842_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:5px;
  height:4px;
}
#u13842 {
  border-width:0px;
  position:absolute;
  left:715px;
  top:93px;
  width:5px;
  height:4px;
  display:flex;
}
#u13842 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u13842_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u13843_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:10px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:9px;
  color:#555555;
}
#u13843 {
  border-width:0px;
  position:absolute;
  left:724px;
  top:91px;
  width:27px;
  height:10px;
  display:flex;
  font-size:9px;
  color:#555555;
}
#u13843 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u13843_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u13844 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u13845_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u13845 {
  border-width:0px;
  position:absolute;
  left:581px;
  top:91px;
  width:10px;
  height:10px;
  display:flex;
}
#u13845 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u13845_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u13846_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:10px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:9px;
  color:#555555;
}
#u13846 {
  border-width:0px;
  position:absolute;
  left:594px;
  top:91px;
  width:109px;
  height:10px;
  display:flex;
  font-size:9px;
  color:#555555;
}
#u13846 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u13846_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u13847 {
  border-width:0px;
  position:absolute;
  left:242px;
  top:218px;
  width:1646px;
  height:710px;
}
#u13847_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1646px;
  height:710px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u13847_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u13848_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1495px;
  height:710px;
}
#u13848 {
  border-width:0px;
  position:absolute;
  left:76px;
  top:0px;
  width:1495px;
  height:710px;
  display:flex;
}
#u13848 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u13848_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
