body {
  margin:0px;
  background-image:none;
  position:relative;
  left:0px;
  width:2550px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u8122_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2550px;
  height:1243px;
}
#u8122 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2550px;
  height:1243px;
  display:flex;
}
#u8122 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8122_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u8123_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:688px;
  height:51px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8123 {
  border-width:0px;
  position:absolute;
  left:991px;
  top:1134px;
  width:688px;
  height:51px;
  display:flex;
}
#u8123 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8123_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u8124_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:619px;
  height:60px;
}
#u8124 {
  border-width:0px;
  position:absolute;
  left:1053px;
  top:1125px;
  width:619px;
  height:60px;
  display:flex;
}
#u8124 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8124_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u8125_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:43px;
}
#u8125 {
  border-width:0px;
  position:absolute;
  left:1002px;
  top:1138px;
  width:43px;
  height:43px;
  display:flex;
}
#u8125 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8125_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u8126_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:19px;
}
#u8126 {
  border-width:0px;
  position:absolute;
  left:1014px;
  top:1150px;
  width:19px;
  height:19px;
  display:flex;
  color:#7560FF;
}
#u8126 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8126_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u8127_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:367px;
  height:55px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8127 {
  border-width:0px;
  position:absolute;
  left:1312px;
  top:1134px;
  width:367px;
  height:55px;
  display:flex;
}
#u8127 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8127_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u8128_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  height:51px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8128 {
  border-width:0px;
  position:absolute;
  left:1308px;
  top:1134px;
  width:148px;
  height:51px;
  display:flex;
}
#u8128 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8128_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u8129 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u8130_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:166px;
  height:43px;
  background:inherit;
  background-color:rgba(249, 250, 251, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(219, 219, 219, 1);
  border-radius:87px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#7560FF;
  text-align:left;
}
#u8130 {
  border-width:0px;
  position:absolute;
  left:1319px;
  top:1138px;
  width:166px;
  height:43px;
  display:flex;
  font-size:18px;
  color:#7560FF;
  text-align:left;
}
#u8130 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8130_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8131_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u8131 {
  border-width:0px;
  position:absolute;
  left:1452px;
  top:1154px;
  width:10px;
  height:10px;
  display:flex;
}
#u8131 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8131_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u8132_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:17px;
}
#u8132 {
  border-width:0px;
  position:absolute;
  left:1340px;
  top:1151px;
  width:17px;
  height:17px;
  display:flex;
}
#u8132 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8132_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u8133_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1377px;
  height:463px;
}
#u8133 {
  border-width:0px;
  position:absolute;
  left:900px;
  top:268px;
  width:1377px;
  height:463px;
  display:flex;
}
#u8133 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8133_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u8134_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1324px;
  height:156px;
}
#u8134 {
  border-width:0px;
  position:absolute;
  left:975px;
  top:285px;
  width:1324px;
  height:156px;
  display:flex;
}
#u8134 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8134_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u8135_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:443px;
}
#u8135 {
  border-width:0px;
  position:absolute;
  left:865px;
  top:424px;
  width:46px;
  height:443px;
  display:flex;
}
#u8135 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8135_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u8136_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:699px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:19px;
  letter-spacing:0.4px;
  color:#4B4B4B;
}
#u8136 {
  border-width:0px;
  position:absolute;
  left:1002px;
  top:244px;
  width:699px;
  height:22px;
  display:flex;
  font-size:19px;
  letter-spacing:0.4px;
  color:#4B4B4B;
}
#u8136 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u8136_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u8137_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1289px;
  height:760px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:15px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  letter-spacing:1.5px;
}
#u8137 {
  border-width:0px;
  position:absolute;
  left:975px;
  top:237px;
  width:1289px;
  height:760px;
  display:flex;
  letter-spacing:1.5px;
}
#u8137 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8137_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u8138_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:428px;
}
#u8138 {
  border-width:0px;
  position:absolute;
  left:2264px;
  top:237px;
  width:46px;
  height:428px;
  display:flex;
}
#u8138 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8138_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u8139_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:43px;
  background:inherit;
  background-color:rgba(249, 250, 251, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(220, 223, 228, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:15px;
}
#u8139 {
  border-width:0px;
  position:absolute;
  left:1013px;
  top:706px;
  width:96px;
  height:43px;
  display:flex;
  font-size:15px;
}
#u8139 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8139_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8140_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:43px;
  background:inherit;
  background-color:rgba(98, 74, 255, 1);
  border:none;
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:15px;
  color:#FFFFFF;
}
#u8140 {
  border-width:0px;
  position:absolute;
  left:1240px;
  top:706px;
  width:95px;
  height:43px;
  display:flex;
  font-size:15px;
  color:#FFFFFF;
}
#u8140 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8140_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8141_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:299px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:21px;
  color:#484848;
}
#u8141 {
  border-width:0px;
  position:absolute;
  left:1013px;
  top:304px;
  width:299px;
  height:24px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:21px;
  color:#484848;
}
#u8141 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u8141_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u8142_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:17px;
  color:#4E4E4E;
}
#u8142 {
  border-width:0px;
  position:absolute;
  left:1048px;
  top:356px;
  width:136px;
  height:20px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:17px;
  color:#4E4E4E;
}
#u8142 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u8142_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u8143_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u8143 {
  border-width:0px;
  position:absolute;
  left:1017px;
  top:356px;
  width:20px;
  height:20px;
  display:flex;
}
#u8143 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8143_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u8144_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1156px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  letter-spacing:0.7px;
  color:#4B4B4B;
  line-height:23px;
}
#u8144 {
  border-width:0px;
  position:absolute;
  left:1046px;
  top:393px;
  width:1156px;
  height:23px;
  display:flex;
  font-size:16px;
  letter-spacing:0.7px;
  color:#4B4B4B;
  line-height:23px;
}
#u8144 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u8144_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8145_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:8px;
}
#u8145 {
  border-width:0px;
  position:absolute;
  left:1192px;
  top:362px;
  width:15px;
  height:8px;
  display:flex;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
}
#u8145 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8145_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u8146_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:259px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:17px;
  color:#4E4E4E;
}
#u8146 {
  border-width:0px;
  position:absolute;
  left:1048px;
  top:482px;
  width:259px;
  height:20px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:17px;
  color:#4E4E4E;
}
#u8146 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u8146_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u8147_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u8147 {
  border-width:0px;
  position:absolute;
  left:1017px;
  top:482px;
  width:20px;
  height:20px;
  display:flex;
}
#u8147 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8147_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u8148_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:8px;
}
#u8148 {
  border-width:0px;
  position:absolute;
  left:1312px;
  top:488px;
  width:15px;
  height:8px;
  display:flex;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
}
#u8148 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8148_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u8149_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1156px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  letter-spacing:0.7px;
  color:#4B4B4B;
  line-height:21px;
}
#u8149 {
  border-width:0px;
  position:absolute;
  left:1046px;
  top:521px;
  width:1156px;
  height:21px;
  display:flex;
  font-size:16px;
  letter-spacing:0.7px;
  color:#4B4B4B;
  line-height:21px;
}
#u8149 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u8149_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8150_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:399px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:17px;
  color:#4E4E4E;
}
#u8150 {
  border-width:0px;
  position:absolute;
  left:1048px;
  top:607px;
  width:399px;
  height:20px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:17px;
  color:#4E4E4E;
}
#u8150 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u8150_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u8151_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u8151 {
  border-width:0px;
  position:absolute;
  left:1017px;
  top:607px;
  width:20px;
  height:20px;
  display:flex;
}
#u8151 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8151_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u8152_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:8px;
}
#u8152 {
  border-width:0px;
  position:absolute;
  left:1455px;
  top:613px;
  width:15px;
  height:8px;
  display:flex;
}
#u8152 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8152_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u8153_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:17px;
  color:#4E4E4E;
}
#u8153 {
  border-width:0px;
  position:absolute;
  left:1048px;
  top:654px;
  width:102px;
  height:20px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:17px;
  color:#4E4E4E;
}
#u8153 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u8153_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u8154_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u8154 {
  border-width:0px;
  position:absolute;
  left:1017px;
  top:654px;
  width:20px;
  height:20px;
  display:flex;
}
#u8154 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8154_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u8155_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:8px;
}
#u8155 {
  border-width:0px;
  position:absolute;
  left:1156px;
  top:660px;
  width:15px;
  height:8px;
  display:flex;
}
#u8155 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8155_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u8156_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  letter-spacing:0.7px;
  color:#ACACAC;
  line-height:23px;
}
#u8156 {
  border-width:0px;
  position:absolute;
  left:1046px;
  top:432px;
  width:125px;
  height:23px;
  display:flex;
  letter-spacing:0.7px;
  color:#ACACAC;
  line-height:23px;
}
#u8156 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u8156_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8157_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:28px;
  background:inherit;
  background-color:rgba(249, 250, 251, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(220, 223, 228, 1);
  border-radius:48px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#624AFF;
}
#u8157 {
  border-width:0px;
  position:absolute;
  left:1119px;
  top:429px;
  width:95px;
  height:28px;
  display:flex;
  font-size:12px;
  color:#624AFF;
}
#u8157 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8157_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8158_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:28px;
  background:inherit;
  background-color:rgba(249, 250, 251, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(220, 223, 228, 1);
  border-radius:48px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#624AFF;
}
#u8158 {
  border-width:0px;
  position:absolute;
  left:1225px;
  top:429px;
  width:95px;
  height:28px;
  display:flex;
  font-size:12px;
  color:#624AFF;
}
#u8158 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8158_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8159_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  letter-spacing:0.7px;
  color:#ACACAC;
  line-height:23px;
}
#u8159 {
  border-width:0px;
  position:absolute;
  left:1046px;
  top:558px;
  width:125px;
  height:23px;
  display:flex;
  letter-spacing:0.7px;
  color:#ACACAC;
  line-height:23px;
}
#u8159 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u8159_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8160_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:28px;
  background:inherit;
  background-color:rgba(249, 250, 251, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(220, 223, 228, 1);
  border-radius:48px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#624AFF;
}
#u8160 {
  border-width:0px;
  position:absolute;
  left:1119px;
  top:555px;
  width:112px;
  height:28px;
  display:flex;
  font-size:12px;
  color:#624AFF;
}
#u8160 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8160_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8161_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:43px;
  background:inherit;
  background-color:rgba(249, 250, 251, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(220, 223, 228, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:15px;
}
#u8161 {
  border-width:0px;
  position:absolute;
  left:1127px;
  top:706px;
  width:96px;
  height:43px;
  display:flex;
  font-size:15px;
}
#u8161 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8161_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8162_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1221px;
  height:192px;
  background:inherit;
  background-color:rgba(250, 250, 250, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8162 {
  border-width:0px;
  position:absolute;
  left:1013px;
  top:769px;
  width:1221px;
  height:192px;
  display:flex;
}
#u8162 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8162_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u8163_input {
  position:absolute;
  left:0px;
  top:0px;
  width:1165px;
  height:89px;
  padding:15px 8px 9px 14px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  letter-spacing:normal;
  color:#4C4C4C;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
  resize:none;
}
#u8163_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:1165px;
  height:89px;
  padding:15px 8px 9px 14px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  letter-spacing:normal;
  color:#4C4C4C;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
  resize:none;
}
#u8163_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1165px;
  height:89px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(227, 227, 227, 1);
  border-radius:6px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#4C4C4C;
}
#u8163 {
  border-width:0px;
  position:absolute;
  left:1037px;
  top:794px;
  width:1165px;
  height:89px;
  display:flex;
  font-size:16px;
  color:#4C4C4C;
}
#u8163 .text {
  position:absolute;
  align-self:flex-start;
  padding:14px 8px 8px 14px;
  box-sizing:border-box;
  width:100%;
}
#u8163_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1165px;
  height:89px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(227, 227, 227, 1);
  border-radius:6px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#4C4C4C;
}
#u8163.disabled {
}
#u8164_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:38px;
  background:inherit;
  background-color:rgba(98, 74, 255, 1);
  border:none;
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:15px;
  color:#FFFFFF;
}
#u8164 {
  border-width:0px;
  position:absolute;
  left:1120px;
  top:902px;
  width:71px;
  height:38px;
  display:flex;
  font-size:15px;
  color:#FFFFFF;
}
#u8164 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8164_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8165_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:38px;
  background:inherit;
  background-color:rgba(249, 250, 251, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(220, 223, 228, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:15px;
}
#u8165 {
  border-width:0px;
  position:absolute;
  left:1037px;
  top:902px;
  width:72px;
  height:38px;
  display:flex;
  font-size:15px;
}
#u8165 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8165_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8166_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:421px;
}
#u8166 {
  border-width:0px;
  position:absolute;
  left:911px;
  top:244px;
  width:64px;
  height:421px;
  display:flex;
}
#u8166 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8166_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u8167_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#624AFF;
}
#u8167 {
  border-width:0px;
  position:absolute;
  left:1046px;
  top:256px;
  width:96px;
  height:18px;
  display:flex;
  font-size:16px;
  color:#624AFF;
}
#u8167 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u8167_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u8168_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:19px;
}
#u8168 {
  border-width:0px;
  position:absolute;
  left:1016px;
  top:255px;
  width:19px;
  height:19px;
  display:flex;
}
#u8168 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8168_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u8169_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:86px;
}
#u8169 {
  border-width:0px;
  position:absolute;
  left:1027px;
  top:386px;
  width:1px;
  height:85px;
  display:flex;
  color:#DDDDDD;
}
#u8169 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8169_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u8170_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:86px;
}
#u8170 {
  border-width:0px;
  position:absolute;
  left:1027px;
  top:511px;
  width:1px;
  height:85px;
  display:flex;
  color:#DDDDDD;
}
#u8170 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8170_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u8171_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:16px;
}
#u8171 {
  border-width:0px;
  position:absolute;
  left:1027px;
  top:634px;
  width:1px;
  height:15px;
  display:flex;
  color:#DDDDDD;
}
#u8171 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8171_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u8172_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  height:56px;
  background:inherit;
  background-color:rgba(113, 136, 244, 0.996078431372549);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8172 {
  border-width:0px;
  position:absolute;
  left:81px;
  top:13px;
  width:168px;
  height:56px;
  display:flex;
}
#u8172 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8172_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u8173 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u8174 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u8175_img {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:-10px;
  width:131px;
  height:131px;
}
#u8175 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:1087px;
  width:111px;
  height:111px;
  display:flex;
}
#u8175 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8175_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u8176_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:17px;
  letter-spacing:1.9px;
  color:#497ECE;
  line-height:25px;
}
#u8176 {
  border-width:0px;
  position:absolute;
  left:68px;
  top:1118px;
  width:76px;
  height:50px;
  display:flex;
  font-size:17px;
  letter-spacing:1.9px;
  color:#497ECE;
  line-height:25px;
}
#u8176 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u8176_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u8177_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:17px;
}
#u8177 {
  border-width:0px;
  position:absolute;
  left:94px;
  top:1118px;
  width:23px;
  height:17px;
  display:flex;
}
#u8177 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8177_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u8178 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:1087px;
  width:111px;
  height:112px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
